{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>TodoList</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todolist %}
                <tr>
                    <td>{{todo.title}}</td>
                    <td>
                    {% if todo.isCompleted %}
                        <del>已完成</del>
                    {% else %}
                        <form action="/complete/{{ todo.id }}/">
                            <button class=""btn btn-primary type="submit">标记完成</button>
                        </form>
                    {% endif %}
                    </td>
                    <td>
                        <form action="/delete/{{ todo.id }}/">
                            <button class="btn btn-primary" type="submit">删除</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
